[submodule "ProjectAdamas"]
  path = bin/adamas
  url = https://github.com/OldTimes-Software/ProjectAdamas
  
[submodule "DetectiveS"]
  path = bin/detectives
  url = https://github.com/hogsy/DetectiveS
