*.user
Katana.sln.docstates.suo
*.tlog
*.obj
*.idb
*.pdb
level/Debug/Level.Build.CppClean.log
*.ilk
*.sdf
*.suo
*.suo
*.opensdf
level/Debug/Level.log
engine/Debug/Engine.log
*.sbr
*.lastbuildstate
*.unsuccessfulbuild
engine/Release/OpenKatana.Build.CppClean.log
engine/Release/Engine.log
*.log
viewer/msvc/Release/RCa08556
*.db
*.crf
viewer/msvc/Release/md2viewer.res
engine/Release/Engine.bsc
*.exp
engine/Release/OpenKatana.lib